<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	layout:decorator="template/layout"
	xmlns:layout="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:th="http://www.thymeleaf.org">
	<head>
	
	</head>
	<!-- Body -->
	<body>
		<!-- Content -->
		  <div class="layout-content" data-scrollable="true" th:fragment="content">
		    <script th:src="@{/resources/vendor/jquery.fileupload/init.js}" type="text/javascript-lazy"/>
			<div class="container-fluid">

			  <ol class="breadcrumb">
				<li><a href="index.html">Home</a></li>
				<li class="active">Edit user</li>
			  </ol>
			  <!-- <h1 class="page-heading h2">Edit Trainee</h1> -->
		
			  <div class="card">
			  	<div class="p-a-1">
		          <form id="frmTrainee" name="frmTrainee" method="post" enctype="multipart/form-data" >
		          	 <div class="form-group row">
		                <label for="avatar" class="col-sm-3 form-control-label">Avatar</label>
		                <div class="col-sm-9">
		                  <div class="media">
		                    <div class="media-left">
		                      <div id="uploaded-files" class="icon-block">
		                    
		                      	<img ng-show="user.avatar" ng-src="{{loadfile(user.avatar)}}" width="80" height="80"/>
		                        <i ng-show="!user.avatar" class="material-icons text-muted-light md-36">photo</i>
		                      </div>
		                    </div>
		                    <div class="media-body media-middle">
		                    	<label class="file">
                                    <input type="file" id="avatar" name="files[]" th:data-url="@{/file/upload}"/>
                                    <span class="file-custom"></span>
                                </label>
		                    </div>
		                  </div>
		                </div>
		              </div>
			        <div class="form-group row">
		            	<label for="fullname" class="col-sm-3 form-control-label">Full Name</label>
		           		<div class="col-md-6">
			                <input type="text"  ng-model="user.fullName" class="form-control" placeholder="Full Name" name="fullName" ng-required="true"/>
			             </div>
		            </div>
		              	
		            <div class="form-group row">
		            	<label for="email" class="col-sm-3 form-control-label">Email</label>
		           		<div class="col-md-6">
		           			<div class="input-group">
		           				 <span id="basic-addon3" class="input-group-addon">
									<i class="material-icons md-18 text-muted">mail</i>
								</span>
		           				<input type="email" ng-model="user.email" class="form-control" placeholder="Email" name="email" ng-required="true"/>
		           			</div>
			             </div>
			            
		            </div>

		            <div class="form-group row">
		            	<label for="password" class="col-sm-3 form-control-label">Birthday</label>
		           		<div class="col-md-6">
			                <input type="text" ng-click="open1()" class="form-control" uib-datepicker-popup="{{formatDate}}" ng-model="user.dob" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputDateFormats"/>
			             </div>
		            </div>	
		            <div class="form-group row">
		            	<label for="password" class="col-sm-3 form-control-label">Description</label>
		           		<div class="col-md-6">
			                <textarea class="form-control" ng-model="user.shortDescription" ng-required="true" ng-maxlength="2000"></textarea>
			             </div>
		            </div>
	
					<div class="form-group row">
		            	<label for="email" class="col-sm-3 form-control-label"><a href ="#/admin-changepwd/{{user.userId}}">Change password</a></label>
		           		<div class="col-md-6">
		           			
			             </div>
			            
		            </div>
		            <div sec:authorize="hasRole('ADMIN')">
			            <div class="form-group section row connectedItemsExample">
			            	<label class="col-sm-3 form-control-label">Role</label>
						    <div class="col-sm-3">
						      <ul ui-sortable="sortableOptions" ng-model="user.rolesNeedSave" class="list">
						        <li ng-repeat="item in user.rolesNeedSave" class="label label-pill label-info" style="cursor:move">{{item.roleName}}</li>
						      </ul>
						    </div>
						    <div class="col-sm-3">
						      <ul ui-sortable="sortableOptions" ng-model="rightArray" class="list">
						        <li ng-repeat="item in rightArray" class="label label-pill label-info" style="cursor:move">{{item.roleName}}</li>
						      </ul>
						    </div>
						  </div>  
					  </div>
		            <div class="form-group row m-b-0">
	                  <div class="col-sm-offset-3 col-sm-3">
		                  <button type="submit" ng-click="saveTrainee()" class="btn btn-secondary btn-rounded-deep" ng-disabled="frmTrainee.$invalid">Submit</button>
		                  <button type="button" ng-click="cancelTrainee()" class="btn btn-secondary btn-rounded-deep">Cancel</button>
	                  </div>
	                </div>	  
	              	        
		          </form>
		   		
        		</div>
			  </div>
			</div>	
		  </div>
  
	</body>
	
	<!-- End -->
</html>