<!DOCTYPE html>
<html>

<head>
    <title>Sign In</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>    
</head>

<body>

<div class="bg_login">	
	<div style="vertical-align: middle; margin-top: -15px;" align="center">
		    <div class="row">
		        <div>
		            <div class="error-template">
		                <h3 style="color:red;">There're some issues.</h3>
		                
		                <div class="error-details">
		                      
		                </div>
		                <div class="error-actions" style="margin-top:22px;">
		                    <a th:href="@{/}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span> Take Me Home </a>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>	
	<div class="row" style="padding: 0px; border-top: 1px solid #c30; margin-top: 170px;">
		<div class="col-xs-12" >
			<span style="color: #999;"> Wall Street English</span>
		</div>
	</div>
	</div>
	 	 	

</body>
</html>