<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	layout:decorator="template/layout"
	xmlns:layout="http://www.thymeleaf.org"
	xmlns:th="http://www.thymeleaf.org">
	<head>
	
	</head>
	<!-- Body -->
	<body>
		<!-- Content -->
		  <div class="layout-content" data-scrollable="true" th:fragment="content">
		  
			<div class="container-fluid">

			  <ol class="breadcrumb">
				<li><a href="index.html">Home</a></li>
				<li class="active">Change password</li>
			  </ol>
<!-- 			  <h1 class="page-heading h2">Change Password</h1> -->
		
			  <div class="card">
			  	<div class="p-a-1">
		          <form id="frmProfile" name="frmProfile" method="post" enctype="multipart/form-data" ng-submit="changePassword()">
		            <div class="form-group row">
		            	<label for="password" class="col-sm-3 form-control-label">Old Password</label>
		           		<div class="col-md-6">
		           			<div class="input-group">
		           				<span id="basic-addon3" class="input-group-addon">
									<i class="material-icons md-18 text-muted">lock</i>
								</span>
				                <input type="password" ng-model="user.oldPassword" class="form-control" placeholder="Old Password" name="oldPassword" id="oldPassword" ng-required="true" />
		           			</div>
			             </div>
		            </div>
		            <div class="form-group row">
		            	<label for="password" class="col-sm-3 form-control-label">New Password</label>
		           		<div class="col-md-6">
		           			<div class="input-group">
			           			<!-- ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/"
			           			<div ng-message="pattern"> Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</div>
			           			 -->
			           			 <span id="basic-addon3" class="input-group-addon">
									<i class="material-icons md-18 text-muted">lock</i>
								</span>
				                <input type="password" ng-model="user.newPassword" ng-minlength="8" ng-maxlength="20" class="form-control" placeholder="New Password" name="newPassword" id="newPassword" ng-required="true"/>
				                <div ng-messages="frmProfile.newPassword.$error" style="color:maroon" role="alert">
								    <div ng-message="minlength">Passwords must be between 8 and 20 characters.</div>
								    <div ng-message="maxlength">Passwords must be between 8 and 20 characters.</div>
								    
							 </div>
							</div>
			             </div>
		            </div>
		            <div class="form-group row">
		            	<label for="password" class="col-sm-3 form-control-label">Confirm New Password</label>
		           		<div class="col-md-6">
		           			<div class="input-group">
		           				<span id="basic-addon3" class="input-group-addon">
									<i class="material-icons md-18 text-muted">lock</i>
								</span>
				                <input type="password" class="form-control" ng-model="user.confirmPassword" placeholder="Confirm New Password" name="confirmPassword" id="confirmPassword" ng-required="true"  />
				                <div ng-show="user.newPassword !== user.confirmPassword" ng-messages="frmProfile.confirmPassword.$error" style="color:maroon" role="alert">
								    <span>Password mismatch</span>
								 </div>
							</div>
			             </div>
		            </div>	

		            <div class="form-group row m-b-0">
	                  <div class="col-sm-offset-3 col-sm-3">
		                  <button type="submit" class="btn btn-secondary btn-rounded-deep" ng-disabled="frmProfile.$invalid">Submit</button>
		                  <button type="button" ng-click="cancel()" class="btn btn-secondary btn-rounded-deep">Cancel</button>
	                  </div>
	                </div>
	               	            
		          </form>
        		</div>
			  </div>
			</div>	
		  </div>
  
	</body>
	
	<!-- End -->
</html>