<div class="card">
    <div class="card-header">
        <div class="row card-title">
            <div class="col-md-5">
                <h4 class="card-title">New Section</h4>
            </div>
            <a ng-click="openSection(section, true)" class="btn btn-white btn-sm pull-xs-right"><i class="material-icons">edit</i></a>
        </div>
    </div>
    <div class="card-block">
        <div class="row">
            <a href="instructor-lesson-add.html" class="btn btn-sm btn-primary btn-rounded">Add topic <i class="material-icons">add</i></a>
        </div>
    </div>
</div>

