<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org">
<!-- Body -->

<body>
	<!-- Content -->
	<div class="layout-content" data-scrollable="true" th:fragment="content">

	<form class="form-horizontal p-a-1" name="courseForm">
	  <script th:src="@{/resources/vendor/date-time.js}"></script>	
    <script th:src="@{/resources/vendor/bootstrap-tagsinput/bootstrap.min.2.3.2.js}"></script>
	  
	  <style>
			input:invalid {
			    border: 1px solid red;
			}
	   </style>
	   
		<div class="container-fluid">
			
			<modal title="Topic update" visible="showModalTopic">
				<script th:src="@{/resources/vendor/date-time.js}"></script>

			    <div ng-show="alertMessage">
					<div class="alert alert-success" role="alert">
			            Update successfully!
			         </div>
			    </div>    

			      <div class="form-group row">
			        <label class="col-sm-4  form-control-label" for="name">Topic title</label>
			        <div class="col-sm-8">
			       	 <input type="text" class="form-control" ng-model="topicEdit.title" placeholder="Enter title" />
			        </div>
			      </div>
			      	<div class="form-group row">
						<label for="start" class="col-sm-4  form-control-label">StartDate</label>
						<div class="col-sm-8">
							<input class="datepicker form-control" type="text" ng-model="topicEdit.startDate"/>
						</div>
					</div>
					<div class="form-group row">
						<label for="end" class="col-sm-4  form-control-label">End Date</label>
						<div class="col-sm-6">
							<input class="datepicker form-control" type="text" ng-model="topicEdit.endDate"  />
						</div>
					</div>
					
			      <button type="button" ng-click="updateTopic()" class="btn btn-primary btn-rounded">Update</button>
			      <button type="button" class="btn btn-default btn-rounded" ng-click="cancleTopic()" data-dismiss="modal">Cancle</button>
			   
		 	</modal>

		 	<modal title="Section Form" visible="showModalSection">
				<script th:src="@{/resources/vendor/date-time.js}"></script>

			    <div ng-show="alertMessage">
					<div ng-show="!sectionIsAdd" class="alert alert-success" role="alert">
			            Update successfully!
			         </div>

			         <div ng-show="sectionIsAdd" class="alert alert-success" role="alert">
			            Add successfully!
			         </div>
			    </div>    

			      <div class="form-group row">
			        <label class="col-sm-4  form-control-label" for="name">Section title</label>
			        <div class="col-sm-8">
			       	 <input type="text" class="form-control" ng-model="sectionEdit.title"  placeholder="Enter title" />
			        </div>
			      </div>
			      	<div class="form-group row">
						<label for="start" class="col-sm-4  form-control-label">EndDate</label>
						<div class="col-sm-8">
							<input class="datepicker form-control" type="text" ng-model="sectionEdit.startDate" />
						</div>
					</div>
					<div class="form-group row">
						<label for="end" class="col-sm-4  form-control-label">To Date</label>
						<div class="col-sm-6">
							<input class="datepicker form-control" type="text" ng-model="sectionEdit.toDate" />
						</div>
					</div>
					
			      <button type="button" ng-click="updateSection()" ng-show="!sectionIsAdd" class="btn btn-primary btn-rounded">Update</button>

			      <button type="button" ng-click="saveSection()" ng-show="sectionIsAdd" class="btn btn-primary btn-rounded">Save</button>

			      <button type="button" class="btn btn-default btn-rounded" ng-click="cancleSection()" data-dismiss="modal">Cancle</button>
			   
		 	</modal>

			<ol class="breadcrumb m-b-0">
				<li><a href="index.html">Home</a></li>
				<li class="active">Courses</li>
			</ol>
			<div class="media">
				<div class="media-body">
					<h1 class="page-heading h2">Edit Course</h1>
				</div>
				<div class="media-right media-middle">
				
					<button class="btn btn-success btn-rounded"  ng-disabled="courseForm.$invalid">SAVE</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Basic Information</h4>
						</div>
						<div class="card-block">

							<div class="form-group">
								<label for="title">Title</label> 
								<input type="text" class="form-control" placeholder="Write a title" ng-model="courses.title"/>
							</div>

							<div class="form-group">

								<label for="details">Description</label>
								<div id="summernote">
									<ul>
										<li>Understand the customer mindset at WSE</li>
										<li>Understand the key outcomes to achieve as a PT</li>
										<li>Understand the key activities to carry out as a PT</li>
									</ul>
								</div>

							</div>

							<div class="form-group">
								<label for="details">Icon</label> 
								<input type="file" class="form-control-file" id="exampleInputFile" />
							</div>

							<div class="form-group example">
								<label for="title">Trainees</label> 
								<div class="row-fluid form-group">
									<bootstrap-tagsinput ng-model="cities" typeahead-source="queryCities" tagclass="getTagClass" itemvalue="traineeId" itemtext="fullName"></bootstrap-tagsinput>
								</div>
								 
							</div>
						</div>
					</div>
					
					<div class="row">
						<button class="btn btn-primary btn-rounded" ng-click="addSectionFragment()">Add Section</button>
					</div>
					<!-- sections -->
					<div id="sectionDiv">
          				<div class="card" ng-repeat="section in sections">
							<div class="card-header">
								<div class="row card-title">
									<div class="col-md-5">
										<h4 class="card-title">{{section.title}}</h4>
									</div>
								
									<a ng-click="openSection(section)" class="btn btn-white btn-sm pull-xs-right"><i class="material-icons">edit</i></a>
									
								</div>
							</div>
							<div class="card-block">
								<div class="row">
									<a ng-click="addTopicFragemnt()" class="btn btn-primary btn-rounded">Add topic <i class="material-icons">add</i></a>
								</div>
								<div class="nestable" id="nestable-handles-primary">
									<ul class="nestable-list" >
										<li class="nestable-item nestable-item-handle" ng-repeat="topic in section.topics">
											<div class="nestable-handle">
												<i class="material-icons">menu</i>
											</div>
											<div class="nestable-content">
												<div class="media">
													<div class="media-left media-middle">
														<img ng-src="./resources/images/{{topic.icon}}" alt="" width="100" class="img-rounded" />
													</div>
													<div class="media-body media-middle">
														<h5 class="card-title h6 m-b-0">
															<a href="#/topic/{{topic.topicId}}">{{topic.title}}</a>
														</h5>
														<small class="text-muted">updated 1 month ago</small>
													</div>
													<div class="media-right media-middle">
														<a ng-click="openTopic(topic, section)"  
															class="btn btn-white btn-sm"><i class="material-icons">edit</i></a>
													</div>
												</div>
											</div>
										</li>	
									</ul>
								</div>	
							</div>
						</div>
					</div>
        		</div>
					
				<div class="col-md-4">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Extra Information</h4>
							<p class="card-subtitle">Options</p>
						</div>

						<div class="card-block">
							<div class="form-group row">
								<label for="course_code" class="col-sm-6 form-control-label">Course
									Code</label>
								<div class="col-sm-6">
									<input type="text" class="form-control"
										placeholder="Course Code" ng-model="courses.courseCode" />
								</div>
							</div>
							<div class="form-group row">
								<label for="select" class="col-sm-6  form-control-label">Category</label>
								<div class="col-sm-6">
									<select class="c-select form-control"
										ng-model="courses.category">
										<option value="1" selected="true">Service Training</option>
										<option value="2">Sale Training</option>
										<option value="3">Advanced techiniques</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label for="duration" class="col-sm-6 form-control-label">Duration</label>
								<div class="col-sm-6">
									<input type="text" class="form-control"
										placeholder="No. of Days" value="10" />
								</div>
							</div>
							<div class="form-group row">
								<label for="start" class="col-sm-6  form-control-label">Start
									Date</label>
								<div class="col-sm-6">
									<input class="datepicker form-control" type="text" ng-model="courses.startDate" />
								</div>
							</div>
							<div class="form-group row">
								<label for="end" class="col-sm-6  form-control-label">End
									Date</label>
								<div class="col-sm-6">
									<input class="datepicker form-control" type="text" ng-model="courses.endDate" required="true" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="editLesson">
				<div class="modal-dialog">
					<div class="modal-content">// Edit Lesson</div>
				</div>
			</div>

		</div>
	</form>
	</div>

</body>


</html>