<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	layout:decorator="template/layout"
	xmlns:layout="http://www.thymeleaf.org"
	xmlns:th="http://www.thymeleaf.org">
	<!-- Body -->
	<body>
		<!-- Content -->
		  <div class="layout-content" data-scrollable="true" layout:fragment="content">
		  		
    <div class="container-fluid">

      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
      <div class="card card-stats-primary">
        <div class="card-block">
          <div class="media">
            <div class="media-left media-middle">
              <i class="material-icons text-muted-light">credit_card</i>
            </div>
            <div class="media-body media-middle">
              Notification               
            </div>            
          </div>
        </div>
      </div>
      <div class="row">
	  
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header bg-white">
              <div class="media">
                <div class="media-body">
                  <h4 class="card-title">Course Stats</h4>
                  <p class="card-subtitle">Learning Today</p>
                </div>
                <div class="media-right media-middle">
                  
                </div>
              </div>
            </div>
            <ul class="list-group list-group-fit m-b-0">
              <li class="list-group-item">
                <div class="media">
                  <div class="media-body media-middle">
                    <a href="take-course.html">Basics of HTML</a>
                  </div>
                  <div class="media-right media-middle">
                    <div class="center">
                      <span class="label label-pill label-primary">15</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="media">
                  <div class="media-body media-middle">
                    <a href="take-course.html">Angular in Steps</a>
                  </div>
                  <div class="media-right media-middle">
                    <div class="center">
                      <span class="label label-pill label-success">50</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="media">
                  <div class="media-body media-middle">
                    <a href="take-course.html">Bootstrap Foundations</a>
                  </div>
                  <div class="media-right media-middle">
                    <div class="center">
                      <span class="label label-pill label-warning">14</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="media">
                  <div class="media-body media-middle">
                    <a href="take-course.html">GitHub Basics</a>
                  </div>
                  <div class="media-right media-middle">
                    <div class="center">
                      <span class="label label-pill label-danger">14</span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        
		</div>

		</div>
      </div>
		  		
		  </div>
  
	</body>
	<!-- End -->
</html>